<ul>
{% for obj in object_list %}
    <li><a href="{{obj.get_url}}">{{obj.marka}} MODEL: {{obj.model}}</a></li>
    <li><a href="{{obj.id}}">{{obj.marka}} MODEL: {{obj.model}}</a></li>
{% endfor %}
</ul>
